<html lang="en">

<head>
    <title>Ramos Mejía</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
            object-fit:scale-down;
        }
    </style>
</head>

<body>

    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/Ramos1/Acuario.jpg" alt="Acuario.jpg">
                <div class="carousel-caption">
                    <h3>Acuario</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/Ramos1/bano.jpg" alt="bano.jpg">
                <div class="carousel-caption">
                    <h3>Comedor</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/Ramos1/CocinaAng2.jpg" alt="CocinaAng2.jpg">
                <div class="carousel-caption">
                    <h3>Cocina</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/Ramos1/CocinaComedor.jpg" alt="CocinaComedor.jpg">
                <div class="carousel-caption">
                    <h3>Cocina Comedor</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/Ramos1/bano.jpg" alt="bano.jpg">
                <div class="carousel-caption">
                    <h3>Toilette</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/Ramos1/CamaConRojo.jpg" alt="CamaConRojo.jpg">
                <div class="carousel-caption">
                    <h3>Dormitorio</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/Ramos1/DormitorioNina5.jpg" alt="DormitorioNina5.jpg">
                <div class="carousel-caption">
                    <h3>Dormitorio</h3>
                    <p></p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

</body>

</html>