<section id="contacto">
    <h2>Formulario de contacto</h2>
    <div class="container">
        <div class="row">
            <div class="col-5">
                <form>
                    <div class="mb-3">
                    <label for="nombre" class="form-label">Su nombre</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Correo Electronico</label>
                    <input type="email" class="form-control" id="exampleInputEmail1">
                    </div>
                    <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Recibir notificaciones en mi correo electronico</label>
                    </div>
                    <button type="submit" class="btn btn-dark">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</section>